@model IEnumerable<GigHub.Core.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Who I Follow</h2>
<ul class="list-group">
    @foreach (var artist in Model)
    {
        <li class="list-group-item">
            @artist.Name
            <button data-user-id="@artist.Id" class="btn btn-info js-toggle-follow pull-right">Following</button>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            GigDetailsController.init();
        });
    </script>
}
