body {
  background-image: url(/Content/images/gplaypattern.png);
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
span.field-validation-error {
  color: red;
  font-weight: bold;
}
.input-validation-error,
.input-validation-error:focus {
  border-color: red;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
/* Footer and content settings */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#content {
  padding-bottom: 80px;
  padding-top: 90px;
}
footer {
  height: 70px;
  width: 85%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
a,
a:active,
a:focus,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
  outline: none;
  outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}
/* Bootstrap Overrides */
.list-group-item {
  width: 600px;
  top: 10px;
  line-height: 35px;
}
.list-group-item .btn {
  width: 100px;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.popover {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 8px;
  right: -1px;
  background: #a80a0a;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(205, 40, 39, 0.55);
}
.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
  top: 110%;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-brand img {
  width: 19px;
  height: 19px;
  margin-top: -3px;
}
body {
  font-size: 17px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  font-size: 17px;
  height: 44px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  transition: none;
  -webkit-transition: none;
}
.form-control:focus {
  box-shadow: none;
}
.btn {
  -ms-border-radius: 9px;
  border-radius: 9px;
}
/* Page-level styles */
.gigs {
  list-style: none;
}
.gigs > li {
  position: relative;
  margin-bottom: 60px;
}
.gigs > li .date {
  background: red;
  color: white;
  text-align: center;
  width: 60px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 3px;
}
.gigs > li .date .month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
}
.gigs > li .date .day {
  background: #f7f7f7;
  color: #333;
  font-size: 20px;
  padding: 6px 12px;
}
.gigs > li .details {
  position: absolute;
  top: 0;
  left: 80px;
}
.gigs > li .details .artist {
  display: block;
  font-weight: bold;
  margin-bottom: -6px;
}
.gigs > li .details .venue {
  display: block;
}
.gigs > li .details .genre {
  display: inline-block;
  font-size: 12.2px;
  margin-bottom: 5px;
}
.gigs > li .details .city {
  display: block;
  font-weight: bold;
}
.gigs > li .details .city-sml {
  display: block;
  font-size: 14.5px;
  margin-bottom: 6px;
}
.gigs > li .actions {
  font-size: 15px;
  display: none;
}
.gigs > li:hover .actions {
  display: block;
}
.popover-notifications .popover-content {
  padding: 0;
}
.popover-notifications ul.notifications {
  list-style: none;
  padding-left: 0;
}
.popover-notifications ul.notifications > li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
  border-bottom: none;
}
.popover-notifications ul.notifications .highlight {
  font-weight: bold;
}
#searchGigs {
  width: 400px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#searchGigs input {
  max-width: none;
}
/* Register form */
#registerCheckBox {
  display: inline-block;
  margin-left: 16px;
}
/* Gig Details */
#artistHeading h2 {
  margin-bottom: -5px;
}
#artistInfo {
  float: left;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 15px;
}
#artistInfo #artistImg {
  float: left;
}
#artistInfo #artistText {
  float: right;
  width: 500px;
}
#artistInfo #artistText p {
  float: right;
  display: block;
  margin-left: 40px;
}
div.center-cropped {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
div.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
/* RESPONSIVE */
@media (max-width: 1280px) {
  #newBands,
  #myCarousel {
    visibility: hidden;
  }
}
#newBands {
  display: inline-block;
  margin-left: 80px;
  margin-top: 60px;
}
#newBands h2 {
  text-align: center;
}
#newBands .thumbnailSize {
  margin-top: 25px;
  width: 160px;
  height: 200px;
  display: inline-flex;
}
#newBands .thumbnailSize .thumbnail {
  background-color: transparent;
  border: hidden;
}
#newBands .thumbnailSize .thumbnail .caption {
  margin-top: 0px;
  text-align: center;
}
#newBands div.center-cropped-sml {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}
#newBands div.center-cropped-sml img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
#newBands .well {
  background-color: transparent;
  border: none;
}
#newBands .carousel-control.left,
#newBands .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
}
#newBands .carousel .carousel-control {
  visibility: hidden;
}
#newBands .carousel:hover .carousel-control {
  visibility: visible;
}
#gigDetails {
  clear: both;
}
#gigDetails button {
  height: 40px;
  width: 80px;
  font-size: 14px;
}
/*DL, DT, DD TAGS LIST DATA*/
dl {
  margin-bottom: 20px;
}
dl dt {
  float: left;
  font-weight: bold;
  margin-right: 0px;
  padding: 5px;
  width: 70px;
}
dl dd {
  margin: 2px 0;
  padding: 5px 0;
}
/* Home */
#homeLeft {
  display: inline-block;
  float: left;
}
.homeRight {
  display: inline-block;
  float: right;
  margin-top: 70px;
}
.homeRight img {
  width: 600px;
  height: 370px;
}
.homeRight .carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
}
.homeRight .carousel-caption h2 {
  display: block;
  margin-bottom: 25px;
  margin-top: 8px;
}
.homeRight .carousel-caption p {
  font-size: 18px;
}